streamlit==1.9.0
streamlit-shap==1.0.2
scikit-learn-intelex==2021.20220215.102710
scikit-image @ file:///C:/ci/scikit-image_1648214340990/work
scikit-learn @ file:///C:/ci/scikit-learn_1642617276183/work
eli==0.3.1
eli5==0.13.0
lime==0.2.0.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1649782970434/work
pandas @ file:///C:/ci/pandas_1650373458095/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
plotly @ file:///opt/conda/conda-bld/plotly_1646671701182/work
shap==0.40.0
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
pyrsistent @ file:///C:/ci/pyrsistent_1636093225342/work